:root {
  --sideWidth: 140px;
  --marginRight: 40px;
}

* {
  /* give everything a green background and a border for debugging */
  /* margin: 2px;
  padding: 2px;
  border: 2px;
  border-color: red;
  background-color: green; */
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #d9dcd6;
  line-height: 1.3;
}

a {
}

p {

}

/* header */

header {
  display: flex;
  justify-content: space-between; /* make full width */
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

header h1 {
  font-size: 200%;
header h1::before {
  position: relative;
  background-image: url("../images/1043077.png");
  background-size: 64px 64px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  /* bottom: 10px;
  left: 10px; */
  content: "";
}

header nav {
  margin-right: var(--marginRight);
}

header nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
}


header nav a:hover {
  color: #fff;
  background-color: grey;
  border-radius: 10px;
}

/* banner */

.hero-banner {
  height: 400px;
  background-image: url("../images/pexels-markus-spiske-1089440.jpg");
  background-position: center;
  background-size: cover; /* zoom in and stretch to fit maintaining aspect ratio */
  background-repeat: no-repeat;
  position: relative;
}

.hero-banner h2 {
  padding: 15px;
  border: 1px solid white;
  color: rgb(224,224,224);
  position: absolute;
  font-size:100%;
  right: var(--marginRight);
  bottom: 20px;
  border-radius: 10px;
  background-color: rgba(128,128,128, 0.7);
}

/* main area */

main {
}

main .page-wrapper
{
  display: flex;
  align-items: stretch;
}

}

main .page-section
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 20px 0 0 20px;
}

main .page-section div p {
  padding: 0px;
}

}


main .about-me p {
  text-align:left;
  line-height: 1.25;
}

main .left-panel {
  width: var(--sideWidth);
  height: auto;
  padding: 10px;
  border-color: black;
  border-right-style: solid;
  border-width: 4px;
  margin: 0px;
}

main .left-panel h2 {
  font-size: 30px;
  text-align: right;
}

main .right-panel {
  padding-left: 10px;
  margin-right: 30px;
  flex: 1;
}

}

main .portfolio-grid
{
  display: grid;
  grid-template-rows: repeat(4, 300px);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "portfolio1 portfolio1"
  "portfolio1 portfolio1"
  "portfolio2 portfolio3"
  "portfolio4 portfolio5";
}

main .portfolio-grid-area {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  position: relative;

main .portfolio-grid-area:hover {
  /* margin: 10px; */
  border-radius: 10px;
  border-style: groove;
  border-color: red;
}


main .portfolio-grid-area .heading {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: rgba(255,255,255, 0.7);
  padding: 5px;  
}


#portfolio1 {
  grid-area: portfolio1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#portfolio2 {
  grid-area: portfolio2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#portfolio3 {
  grid-area: portfolio3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#portfolio4 {
  grid-area: portfolio4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#portfolio5 {
  grid-area: portfolio5;
  background-image: url("../images/02-portfolio-5.jpg");
}

/* contact */

main .contact
{
  align-items: stretch;
  align-content: center;
  display: flex;
  align-items: center;
  /* display: flex;
  align-items:flex-start;
  flex-direction:row;
  justify-content: space-between;
  align-items: center; */
  /* padding: 1%; */
  /* background-color: #13293d; */
  /* color: #fff; */
}

main .contact ul {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  /* align-items: center; */
  /* align-items: stretch; */
  /* align-content: center; */
}

/* icons for contact */

a[href]::before {
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 5px;
  top: 12px;
  left: 0;
}

a[href*='tel:']::before {
  content: url("../icons/phone-call-svgrepo-com.svg") / "Telephone icon";
}

a[href*='mailto:']::before {
  content: url("../icons/envelope-svgrepo-com.svg") / "Email icon";
}

a[href*='github']::before {
  content: url("../icons/icons8-github.svg") / "GitHub logo";
}

a[href*='linkedin']::before {
  content: url("../icons/icons8-linkedin.svg") / "Linkedin logo";
}

/* footer */

footer h4 {
  text-align: center;
}

/* media queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header ul {
    flex-direction: column !important;
  }
  main .page-section {
    flex-direction: column !important;
    margin: 10px;
  }
  main .portfolio-grid {
    grid-template-rows: repeat(5, 300px) !important;
    grid-template-columns: 1fr !important;
    grid-template-areas:
      "portfolio1"
      "portfolio2"
      "portfolio3"
      "portfolio4"
      "portfolio5"
    !important;
  }
  main .left-panel {
    width: 100%;
    border-bottom-style: solid;
    border-right-style: none;
    margin-bottom: 10px;
  }
  main .left-panel h2 {
    text-align: center;
  }
  main .contact ul {
    flex-direction: column !important;
  }
}